@font-face {
  font-family:  Roche Sans ;
  src: url("/public/Roche Sans/RocheSans-Regular.ttf") format('truetype');
  font-family: Roche Sans;
  /* src: url("/public/Roche Sans/RocheSans-Italic.ttf") format('truetype'); */

}

body {
 font-family: Roche Sans !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar{
  background: transparent;
}
body::-webkit-scrollbar-thumb{
  background: linear-gradient(
    16deg,
    #8eb927 15%,
    #82b939 17%,
    #66ba67 23%,
    #4fbc8c 28%,
    #3dbca9 34%,
    #30bdbe 39%,
    #28bdca 45%,
    #26becf 50%
  );
  border-radius: 20px;
}

.right_half_section {
  background: linear-gradient(
    16deg,
    #8eb927 15%,
    #82b939 17%,
    #66ba67 23%,
    #4fbc8c 28%,
    #3dbca9 34%,
    #30bdbe 39%,
    #28bdca 45%,
    #26becf 50%
  );
}
.brand_name {
  font-size: 25px;
  font-weight: bold;
}
.company_name {
  /* For Raious */
  width: 16pc;
  height: 84px;
  background: white;
  border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 76px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.empty-height {
  height: 200px;
}
.company_details {
  color: white;
  width: 50%;
}
.logo {
  display: flex;
  justify-content: end;
}
input {
  border-radius: 50px !important;
  border: 1px solid #26becf !important;
}
.form-select {
  border-radius: 20px;
  border: 1px solid #26becf;
}
.sign-btn_1 {
  background: #26becf;
  color: white;
}
.sign-btn_2 {
  border: 2px solid #26becf;
}
.sign_btn {
  width: 100%;
  border-radius: 50px;
  line-height: 2;
  height: 50px;
  font-size: 18px;
  font-weight: 700;

}
.left_padding {
  padding: 20px;
}
.for_center {
  /* width: 50%; */
  margin: auto;
}
.para_graph{
  font-family: Roche Sans;
/* font-size: 18px; */
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;

}
.for_color {
  color: #26becf;
  font-weight: bold;
}
.about_account {
  color: #CBCBCB;
  line-height: 19px;
  letter-spacing: 0.005em;
}
.inputs_background {
  background-color: whitesmoke !important;
}
#exampleCheck1{
  width: 24px ;
  height: 24px !important;
  border-radius: 5px !important;
}
.terms_condition{
    color: #CBCBCB;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.008em;
}
/* Side Bar */
.root_div {
  width: 20%;
  /* height: 100vh; */
  height: 1600px;
  position: fixed;
  background: linear-gradient(
    16deg,
    #8eb927 15%,
    #82b939 17%,
    #66ba67 23%,
    #4fbc8c 28%,
    #3dbca9 34%,
    #30bdbe 39%,
    #28bdca 45%,
    #26becf 50%
  );
}
.side_list {
  list-style: none;
  height: 50px;
}

.side_link {
  text-decoration: none;
}
.li_and_a_common_class {
  font-size: 18px;
  padding: 5px;
  color: white;
}
/* .for_bac_radious:hover {
  background: white;
  border-radius: 0px 20px 20px 0px;
  width: 90%;
  color: black !important;
} */

.li_and_a_common_class:hover {
  color: black;
}
#admin_user {
  width: 78%;
  position: relative;
  margin-left: 20%;
}

#div_center {
  display: flex;
  margin: auto;
  width: fit-content;
}
table {
  width: 80% !important;
  margin-left: 20%;
  position: absolute;
}
#admin_user {
  position: absolute;
}
.for_navbar_links {
  font-size: 18px;
  text-decoration: none !important;
  color: white;
  cursor: pointer;
}
.for_navbar_links:hover {
  color: black;
}

a {
  text-decoration: none;
}

/* SweetAlter */
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #0d8e9d !important;
}
div:where(.swal2-container).swal2-center > .swal2-popup {
  /* background: #26becfb8; */
  background: linear-gradient(
    16deg,
    #8eb927 15%,
    #82b939 17%,
    #66ba67 23%,
    #4fbc8c 28%,
    #3dbca9 34%,
    #30bdbe 39%,
    #28bcca9a 45%,
    #26becf91 50%
  ) !important;
  color: rgb(0, 0, 0);
  border-radius: 20px;
}
.member_card {
  /* width: 190px; */
  height: 300px;
  margin-bottom: 2pc;
  border-radius: 30px;
  /* background: #26becf; */
  color: #ffff;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  background: linear-gradient(
    16deg,
    #8eb927 15%,
    #82b939 17%,
    #66ba67 23%,
    #4fbc8c 28%,
    #3dbca9 34%,
    #30bdbe 39%,
    #28bdca 45%,
    #26becf 50%
  );
}

.search{
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  border-radius: 20px;
    
  }

  .search input{
   height: 60px;
   text-indent: 25px;
  }
  .search input:focus{
    color: #0d8e9d;
  }
  .search .fa-search{

   position: absolute;
   top: 20px;
   left: 16px;

  }

  .search button{

   position: absolute;
   top: 5px;
   right: 5px;
   height: 50px;
   width: 110px;
   background: linear-gradient(
    16deg,
    #8eb927 15%,
    #82b939 17%,
    #66ba67 23%,
    #4fbc8c 28%,
    #3dbca9 34%,
    #30bdbe 39%,
    #28bdca 45%,
    #26becf 50%
  );
  border-radius: 20px;

  }

  .vedio_ThumNail> div{
    border-radius: 20px;
    width: 71% !important;
    height: 15% !important;
  }
  video{
    border-radius: 1% !important;
  }
  iframe{
    border-radius: 8px !important;
  }
  .cource_ponits{
    display: flex;
    justify-content: end;
  }
  .for_row_background{
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    border-radius: 8px;
    padding: 5px;
  }
  .sign_btn:hover{
    background: #8eb927;
    color: white;
  }
  .signin_page{
    /* height: 100vh; */
    height: 120vh;
  }
  .company_logo_color{
    color: #26becf;
  }
  .forgot_page{
    background: linear-gradient(
    10deg,
    #8eb927 15%,
    #82b939 17%,
    #66ba67 23%,
    #4fbc8c 28%,
    #3dbca9 34%,
    #30bdbe 39%,
    #28bdca 45%,
    #26becf 50%
  );
  height: 100vh;
  }
  .forgoot_root{
    width: 608px;
    height: 554px;
    background: #FFFFFF;
    border-radius: 20px;
  }
  .forgoot_root_h6{
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 20px;
  }
  .forgot_box{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
  }
  .fotgot_instruction{
    width: 452px;
    height: 110px;
    display: flex;
    margin: auto;
    color: #CBCBCB;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.005em;
    text-align: center;
  }
  .for_got_email_input{
    width: 70%;
    margin: auto;
  }
.reset{
  width: 70%;
  border-radius: 20px;
  border: 1px solid #26becf;
  background: #26becf;
} 
.alert-danger{
  /* display: contents; */
}

/*  Member Dashbord */
.set_width{
  width: 90%;
  margin-bottom: 2pc;
}
.top_header{
  height: 213.33px;
  margin-bottom: 2pc;
}
.font_family_common{
  font-family: Roche Sans;
}
.member_welcome{
font-size: 40px;
font-weight: 700;
line-height: 48px;
}
.date_time{
font-size: 18px;
font-weight: 400;
line-height: 24px;
}
.doctor_image{
  /* margin-top: 8pc; */
}
.doc_parent_div{
  /* border: 1px solid #26BECF;
  border-radius: 10px;
  background: whitesmoke;
  padding: 15px; */
  border-radius: 10px;
  padding: 15px;
}
.progress-bar{
  background-color: #8EB927  !important;
}
.doc_child{
  width: 300px;
  margin:auto;
  display: block;
}
.edit_button{
  align-self: center;
  margin: auto;
}
.member_card{
  background: #26BECF;
  border-radius: 20px;
  height: 182.67px;
}
input[type=date]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-month-field{
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type=date]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
.for_achivements_background{
  background: #FBFCFC;
  border-radius: 15px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
}



.common_button{
  border: 1px solid #8EB927;
  border-radius: 10px;
  color: #000000;
}
.common_button:hover{
  background: #8EB927;
}
.img_overlap{
  margin-right: -35px
}
.radeem{
  background: #8EB927;
}
.activeShop{
  background: #8EB927 !important; 
   border: 1px solid #8EB927 !important;
}
.shop_container{
  background: #FBFCFC;
  border-radius: 10px;
}

/* PP */
.for_common_Top_margin{
  /* margin-top: 10pc; */
  /* P-P */
    margin-top: 10pc;
    height: 241px;
    border: 1px solid #26BECF;
    border-radius: 25px;
    margin-left: 20px;
    /* background: #FBFCFC; */
    margin-left: auto;
}
.shop_remove_border{
  border: none !important;
}
.doctor_profile{
  margin-top: 2pc;
}
/* PP */
.left__sec_CreateAccount{
  height: 100vh;
}
.total_points{
font-size: 20px;
line-height: 24px;
}
.total_hours{
  font-size: 60px;
  font-weight: 700;
  line-height: 81px;
  text-align: -webkit-right;
  margin-right: 10px;
}
div:where(.swal2-container).swal2-top-end>.swal2-popup, div:where(.swal2-container).swal2-top-right>.swal2-popup {
  width: 20%;
  height: 80%;
}



/* improve css */

.set_width:hover,
.set_width.active {
  background-color: white;
  border-radius: 0px 25px 25px 0px;
}
.set_width > padding-2 > svg:hover,
.set_width.active {
  background-color: white;
  border-radius: 0px 25px 25px 0px;
  background-color: #000000;
}
.for_side_bar_prop:hover,
.for_side_bar_prop.active {
    /* background-color: white !important; */
    /* border-radius: 0px 25px 25px 0px !important; */
    /* Add any other styles you want */
    border: none !important;
    color: black !important;
 } 

.for_side_bar_prop > img .active {
    background: red !important;
 } 

.set_width.active {
  background-color: white;
  border-radius: 0px 25px 25px 0px;
  /* Add other styles */
}
.svg:hover{
  color: #000000 !important;
  background-color: #000000 !important;
}
.dropdown{
  padding: 7px;
}
.dropdown svg:hover{
  background-color: #000000;
}

.support_community{
  background: #FBFCFC;
  
}
.support_community_row{
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
linear-gradient(0deg, #FFFFFF, #FFFFFF) !important;

}
textarea{
  border: 1px solid #26becf !important ;
}
.inputs_background{
  border: 1px solid #26becf !important ;
  border-radius: 20px;
}
.swal2-html-container{
  color: white !important;
}
.video_Thumbnail div{
  width: 100% !important;
  height: 100% !important;
}
.auto_height div{
  /* height: 10pc !important; */
  /* width: 0% !important; */
}
.shop_container_height{
  height: 150px !important;
}
#set_height_width{
  /* height: 145px; */
  /* width: 150px; */
}
#set_height_width div{
  /* height: 0% !important; */
  height: 145px !important;
  width: 150px !important;
}


.doc_name
{
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 10px;
}
.doc_level{
  margin-left: 20px;
}
.doc_xp{
  font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    font-family: Poppins !important;
}
.for_padd{
  height: 680px;
  padding: 15px !important;
}
.achivement{
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.for_height{
  height: 96px;
}
.control_col{
  font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
}
.set_para{
  display: flex;
  font-size: 14px;
}
.set_date{
  font-size: 14px; 
}
.width{
  width: 49% !important;
 height: 680px;
}
.progress_set_height{
  height: 10px;
}
.edit_profile{
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}
.set_memberName{
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.set_color_and_prop{
    font-size: 18px;
    font-weight: 700;
    line-height: 17px;
    color: #8EB927;
}
.for_side_bar_prop{
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
}
.set_width ul :hover{
  color: #000000 !important;
}
.set_width *:hover{
  color: #000000 !important;
}
.set_card_showdow{
  /* box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff; */
}
.card-text{
  height: 120px;
}
.btn_equal{

  flex: 1;
  margin-right: 10px;
}
#set_marginAccuChek{
  margin-left: -10px;
}
.company_title {
  width: 695px;
  height: 90px;
}
#for_cliams{
  color: #11142D;
}

.search-hover {
  border: 1px solid #ccc;
  outline: none;
  /* background-size: 22px; */
  background-position: 13px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
}
.search-hover:hover {
  width: 300px;
  padding-left: 50px;
}
#shop_serch{
  height: 25px !important;
  margin-top: 8px;
  margin-bottom: 10px;
}

/* #remove_active:hover{
  color: none !important;
  background-color: none !important;
} */
  /* end css */

/* Loader */
/* Normal Usage */
.spinner:before {
  transform: rotateX(60deg) rotateY(45deg) rotateZ(45deg);
  animation: 750ms rotateBefore infinite linear reverse;
}

.spinner:after {
  transform: rotateX(240deg) rotateY(45deg) rotateZ(45deg);
  animation: 750ms rotateAfter infinite linear;
}

.spinner:before,
.spinner:after {
  box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  margin-top: -5em;
  margin-left: -5em;
  width: 10em;
  height: 10em;
  transform-style: preserve-3d;
  transform-origin: 50%;
  transform: rotateY(50%);
  perspective-origin: 50% 50%;
  perspective: 340px;
  background-size: 10em 10em;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjI2NnB4IiBoZWlnaHQ9IjI5N3B4IiB2aWV3Qm94PSIwIDAgMjY2IDI5NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpza2V0Y2g9Imh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaC9ucyI+CiAgICA8dGl0bGU+c3Bpbm5lcjwvdGl0bGU+CiAgICA8ZGVzY3JpcHRpb24+Q3JlYXRlZCB3aXRoIFNrZXRjaCAoaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoKTwvZGVzY3JpcHRpb24+CiAgICA8ZGVmcz48L2RlZnM+CiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBza2V0Y2g6dHlwZT0iTVNQYWdlIj4KICAgICAgICA8cGF0aCBkPSJNMTcxLjUwNzgxMywzLjI1MDAwMDM4IEMyMjYuMjA4MTgzLDEyLjg1NzcxMTEgMjk3LjExMjcyMiw3MS40OTEyODIzIDI1MC44OTU1OTksMTA4LjQxMDE1NSBDMjE2LjU4MjAyNCwxMzUuODIwMzEgMTg2LjUyODQwNSw5Ny4wNjI0OTY0IDE1Ni44MDA3NzQsODUuNzczNDM0NiBDMTI3LjA3MzE0Myw3NC40ODQzNzIxIDc2Ljg4ODQ2MzIsODQuMjE2MTQ2MiA2MC4xMjg5MDY1LDEwOC40MTAxNTMgQy0xNS45ODA0Njg1LDIxOC4yODEyNDcgMTQ1LjI3NzM0NCwyOTYuNjY3OTY4IDE0NS4yNzczNDQsMjk2LjY2Nzk2OCBDMTQ1LjI3NzM0NCwyOTYuNjY3OTY4IC0yNS40NDkyMTg3LDI1Ny4yNDIxOTggMy4zOTg0Mzc1LDEwOC40MTAxNTUgQzE2LjMwNzA2NjEsNDEuODExNDE3NCA4NC43Mjc1ODI5LC0xMS45OTIyOTg1IDE3MS41MDc4MTMsMy4yNTAwMDAzOCBaIiBpZD0iUGF0aC0xIiBmaWxsPSIjMDAwMDAwIiBza2V0Y2g6dHlwZT0iTVNTaGFwZUdyb3VwIj48L3BhdGg+CiAgICA8L2c+Cjwvc3ZnPg==);
}
/* sitNSpin.less */
@keyframes rotateBefore {
  from {
    transform: rotateX(60deg) rotateY(45deg) rotateZ(0deg);
  }

  to {
    transform: rotateX(60deg) rotateY(45deg) rotateZ(-360deg);
  }
}

@keyframes rotateAfter {
  from {
    transform: rotateX(240deg) rotateY(45deg) rotateZ(0deg);
  }

  to {
    transform: rotateX(240deg) rotateY(45deg) rotateZ(360deg);
  }
}

/* 24/8/24 */


.sigin_virtual_heading{
height: 90px;
font-size: 50px;
font-style: italic;
font-weight: 700;
line-height: 63px;
letter-spacing: 0px;
color: #000000;
width: 553px;
/* margin-left: 99px; */
}

.accucheck_details_siginPage{
 

}
.signin_page{
  
}

.accuCheck_sigin_Title{
  font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.005em;

}
.Signinto{
  font-size: 25px;
    font-weight: 600;
    color: #2A2A2A;
}
.forGot_Password{
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.005em;
  color: #CBCBCB;

}
.sigin_Fields{
font-size: 18px;
color: #CBCBCB !important; 
padding: 25px;
}
.sigin_Lables{
font-size: 18px;
line-height: 29px;
letter-spacing: 0.005em;
color: #2A2A2A;
}
input{
  height: 45px !important;
}
.accucheck_details_siginPage{
  width: 553px;
  height: 193px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #CBCBCB !important;
  opacity: 1; /* Firefox */
  padding: 10px;
  letter-spacing: 0.5% ;

}
.create_Account_heading{
font-size: 40px;
font-weight: 700;
line-height: 56px;
letter-spacing: 0.005em;
color: #2A2A2A;

}
.sigup_color{
  color: #26BECF;
}
.or{
  color: #CBCBCB;
}
.shop_parent_div{
  background: #FBFCFC !important;
}

.admin_sigin_Page{
  font-size: 16px !important;
  text-align: left;
}
#admin_container_height{
  height: 450px !important;
  /* padding: 51px; */
}
.hide_eye{
  margin-top: -1.5pc;
  cursor: pointer;
}
#set_serch_height{
  height: 60px !important;
}
#cources_serch{
  height: 20px !important;
  padding: 15px
}


#topBar_Serch{
  height: 20px !important;
}
/* 24/8/24 end */
.member_cources_button{
  border-radius: 100px;
  background-color: #26BECF;
  font-family: Roche blue;
  height: 40px;
  width: 70%;
  margin-bottom: 15px;
}
.member_cources_button:hover{
  background: #8EB927 !important;
}
.progress{
  /* height: 15px !important; */
}

@media screen and (max-width: 768px) {
 
  .for_side_bar_prop  {
    font-size: 2px !important;
  }
  .for_side_bar_prop{
    font-size: 12px !important ;
  }
}

@media screen and (width: 605px) {
 
  #doc_hid3{
   display: none;
  }
}

@media screen and (max-width: 700px) {
 
  .dropdown{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .set_width {
    width: 75%;
}
  .dropdown {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
}
.padding{
  align-self: center !important;
}
.padding a{
  align-self: center !important;
}
}

@media screen and (max-width: 560px) {
 
  .dropdown{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
  }
  .member_welcome {
    font-size: 15px !important;
    display: flex;
    justify-content: center !important;
  }
  .date_time {
    display: flex !important;
    justify-content: center !important;
  }
}

/* .dropdown {
  display: flex;
    flex-direction: column;
}
.padding{
  align-self: center;
}
.padding img{
  align-self: center;
} */



@media screen and (max-width: 610px) {
.doc_parent_div{
  flex-direction: column;
    width: auto;
    margin: auto;
    border-radius: 0px  ; 
    padding: 0px;
}
.contol_width{
  width: 55px;
    height: 55px;
    margin: auto;
}
.doc_parent_div{
  flex-direction: column;
    width: auto;
    margin: auto;
}
.doc_child {
  width: auto;
}
.doctor_profile {
  margin-top: 1pc;
}

}



#full_page_player > vedio{
  border-radius: 1% !important;
}
/* Pixel */

@media screen and (max-width: 1060px) {
  .set_rows_wids{
    width: 100% !important;
    height: 680px !important;
  }
}
@media screen and (max-width: 770px) {
  .for_common_Top_margin{
  margin-top: 14pc;
  }
  #doc_image_container{
    height:13pc !important;
  }
}

@media screen and (max-width: 1060px) {
  .set_rows_wids{
    width: 100% !important;
    height: 680px !important;
  }
}
@media screen and (max-width: 700px) {
  .sigin_virtual_heading{
    font-size: 30px;
  }
}


.reward_child{
   display: inline-flex ;
    width: 83% ;
    display: flex ;
    justify-content: center ;
    align-items: baseline ;
    margin-top: -125px ;
    position: absolute;
    margin-left: 2pc;
}